{% extends "base.html" %}
{% load static %}
{% block title %}:: Join Us{% endblock %}
{% block og_tags %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="banner position-relative w-100">
    <img class="img-fluid w-100" src="{% static 'images/banner-artbuild.jpg' %}" alt="Extinction Rebellion Boston" />
    <div class="banner-title">Support Us</div>
  </div>
</div>

<div class="row py-5 px">
  <div class="col col-text p-0">
    <p class="text-bold">Thank you for your donation to support XR Boston.</p>
    <p>
    <i>
      Donations through this portal are on pause, 
      please email <a href="mailto:xrboston.donate@proton.me">xrboston.donate@proton.me</a> 
      directly to donate.
    </i>
    </p>
    <p>
      Your contribution will help fund outreach, education activities, art and music production. Plus pizza when needed.
    </p>
  </div>
</div>

<div class="row py-5 px">
  <div class="col col-text">
    <p class="small">*To financially support specific XR actions, please donate directly to the XR members or team organizing the actions.</p>
  </div>
</div>
{% endblock %}