{% extends "base.html" %}
{% load static %}
{% block title %}:: Join Us{% endblock %}
{% block og_tags %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="banner position-relative w-100">
    <img class="img-fluid w-100" src="{% static 'images/banner-artbuild.jpg' %}" alt="Extinction Rebellion Boston" />
    <div class="banner-title">Support Us</div>
  </div>
</div>

<div class="row py-5 px">
  <div class="col col-text p-0">
    <p class="text-bold">Thank you for your donation to support XR Boston.</p>
    <p>When you click on the donate button, the landing page will say Mass Peace Action doing business as Regenerating Massachusetts. These two organizations tend to our financial affairs while XR Boston takes on the climate crisis.

    </p>
    <p>
      Your contribution will help fund outreach, education activities, art and music production. Plus pizza when needed.
    </p>
    <p>
      We gratefully acknowledge the support of both Regenerating Massachusetts and Mass Peace Action.
    </p>
    <br>
    <h2><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JSYD7MF4E8E5C&source=url" class="btn btn-lg btn-primary text-uppercase btn-row">Donate Now</a></h2>
  </div>
</div>

<div class="row py-5 px">
  <div class="col col-text">
    <p class="small">*To financially support specific XR actions, please donate directly to the XR members or team organizing the actions.</p>
  </div>
</div>
{% endblock %}