{% extends "base.html" %}
{% load static %}
{% block title %}:: Join Us{% endblock %}
{% block og_tags %}
{% endblock %}
{% block inline_css %}
{{block.super}}
.xr-graphic {
  position: absolute;
  right:0;
  max-width: none !important;
  width: auto !important;
  height: 100% !important;
}

.clip-80 {
  clip-path: inset(0 20% 0 0); transform:translateX(20%);
}

.clip-50 {
  clip-path: inset(0 52% 0 0); transform:translateX(52%);
}
{% endblock %}
{% block content %}
<div class="row">
  <div class="banner position-relative w-100">
    <img
      class="img-fluid w-100"
      src="{% static 'images/banner-demands.jpg' %}"
      alt="Extinction Rebellion Boston"
    />
    <div class="banner-title">
      Our Campaign: No New Fossil Fuel Infrastructure
    </div>
  </div>
</div>

<div class="row bg-white">
  <div class="col-8 px py-3">
    <div class="py-2 intro">
      <div class="py-2">
        <p class="pagedescription">
          Extinction Rebellion Boston’s main campaign since January 2022 is
          demanding “No New Fossil Infrastructure”: The first step to a livable
          future is to stop building the infrastructure that powers destruction,
          which is already obsolete.
        </p>
      </div>

      <div class="py-2">
        <p class="bigandbold">
          Extinction Rebellion Boston demands that the Healey administration ban
          New Fossil Fuel Infrastructure by immediately taking the following
          steps:
        </p>
      </div>

      <div class="py-2">
        <ul class="chunkybullet">
          <li>
            Issue a public announcement that the Governor is committed to a No
            New Fossil Fuel Infrastructure policy for the Commonwealth,
            including opposing projects under construction or currently in the
            permitting process
          </li>
          <li>
            Issue a public commitment that the Governor will only appoint
            anti-new fossil fuel infrastructure policymakers to the Energy
            Facilities Siting Board and Department of Public Utilities, the key
            independent boards that permit new energy infrastructure
          </li>
          <li>
            Work with Speaker Mariano and Senate President Spilka to introduce
            legislation that would permanently ban new fossil fuel
            infrastructure in Massachusetts
          </li>
        </ul>
      </div>

      <div class="py-2">
        <p class="bigandbold">
          Banning new fossil fuel infrastructure includes:
        </p>

        <ul class="chunkybullet">
          <li>NO new fossil fuel power plants</li>
          <li>NO new residential or commercial gas connections</li>
          <li>
            NO new or expanded natural gas distribution pipelines, transmission
            pipelines, or compressor stations
          </li>
          <li>
            NO new liquified natural gas production facilities, storage
            facilities, or terminals
          </li>
          <li>
            NO new gas stations or other gasoline and diesel infrastructure
          </li>
          <li>NO new airports or airfield expansions​​​​​​​</li>
        </ul>
      </div>

      <div class="py-2">
        <p class="bigandbold">
          Stopping new fossil fuel infrastructure under development includes:
        </p>

        <ul class="chunkybullet">
          <li>NEC’s Liquified Natural Gas Facility in Charlton</li>
          <li>LNG expansion to Douglas</li>
          <li>"Modernization" projects in Lowell and Worcester</li>
          <li>
            "Reliability" projects in Western Mass. and Sharon-to-Brockton
          </li>
          <li>The Hopkinton-Ashland Transfer Line</li>
          <li>Meter stations in Longmeadow and Charlton</li>
          <li>Springfield to Longmeadow natural gas pipeline</li>
          <li>Enbridge’s Maple Project</li>
          <li>Airport expansion projects throughout Massachusetts including</li>
          <li>Hyannis Airport expansion in Cape Cod</li>
          <li>Lawrence Municipal Airport in North Andover</li>
          <li>Plymouth Municipal Airport expansion</li>
          <li>Beverley Airport expansion</li>
          <li>Norwood Airport expansion</li>
        </ul>
      </div>
    </div>

    <div class="py-2 demonstrationtimeline">
      <div class="py-2">
        <p class="timelineheading">
          XR Boston has planned and executed numerous non-violent civil
          disobedience demonstrations to demand No New Fossil Fuel
          Infrastructure, including:
        </p>
      </div>
      <div class="py-2 year">
        <p class="yearheading">2022</p>
        <p class="py-1 yearstat">14 public Die-Ins</p>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">April 12: Ban Fossil Fuels banner drop</p>
        </div>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">April 22: Freedom From Fossil Fuels Tour</p>
          <p class="datedescription">
            To celebrate Earth Day, climate activists from Extinction Rebellion
            Boston and other Boston area climate and social justice
            organizations held a march from Copley Square, up Boylston, and
            ended at the State House. We stopped at the offices of financial,
            legal, and corporate companies that are both financing and profiting
            off the climate and ecological emergency.
          </p>
          <!-- <video/> -->
        </div>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">
            May 27: Occupy Eversource CEO Joe Nolan’s front yard
          </p>
          <p class="datedescription">
            Extinction Rebellion Boston (XR) occupied the front of Eversource
            CEO Joseph Nolan’s house. We used an art installation and our bodies
            to protest Eversource’s construction of new fossil fuel
            infrastructure and the company’s failure to rapidly transition to
            clean, renewable sources of energy. We stayed at Nolan’s house for a
            full day practicing regenerative activities like singing, dancing,
            and yoga. See the above video!
          </p>
          <!-- <video/> -->
        </div>
        <p class="py-1 sectionheading">SEPTEMBER WEEK OF REBELLION INCLUDING</p>
        <div class="py-1 date">
          <p class="dateheading">September 17: XR Youth’s Dinosaur Die-In</p>
          <p class="datedescription">
            Rebels of all ages met at Faneuil Hall to "die-in" for climate
            change awareness. Participants dressed as dinosaurs to demonstrate
            humanity's imminent extinction, and the costumes did not disappoint!
          </p>
        </div>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">September 20: Die In at Government Center</p>
          <p class="datedescription">
            Rebels held a soulful public funeral for life on Planet Earth! After
            an initial Die-In and flyering in front of the MBTA station,
            attendees used nonviolent civil disobedience to block traffic on
            Tremont St. with a banner. As the "dead" lay in the street, Red
            Rebels processed slowly around them, the physical manifestations of
            climate grief.
          </p>
        </div>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">
            September 21: Morning Disruption in Downtown Boston
          </p>
          <p class="datedescription">
            XR Boston created a massive general disruption in morning rush-hour
            traffic throughout the financial district, eventually occupying the
            Seaport bridge. 15 arrests were made, and the action was reported on
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/atcYNHk4Eh2YdGnwBh-YDL2qAL43EwUK4XWMX_Z2KfVROLkikQIphtztq8Rl8uMXnUm0P-6kZDebOuvSsNTx3e2b0szKH-TykI_gkb-f1RMyRz1JDz2CsiuTE9_ubq1J8RB5d-noHIgSIVxmoBk5MM1-GchyIUaskcjtdf70c3UtUH2CPOwqOyWT9PTBIn5xorxZf2QbPs7i4yjlt5mNcuEz-a59OtlGSeIJePZJ396QIMCbNeZjXiiSxDUVsU9qwwLJnGOs8kCds_eGmzSXirfpcTnNdaMOTSe0J4IH0pKpQ_o76ho68wt9ILMI0VT2_mYdImHVPs3WwAxe2ogOBMdraGw8y9cuBidYhOd5xQ6vL7PWLbrQU3ke49YWYV6kTCFeLTw2e-ZmIE_x62ENodsn4VKWdXX8a8yk0FRDBmE/3ps/q3OTLq3sReGmOA7tJ-KiyQ/h11/DC7ZQAQXHXFbZ_EYU008WT9O_ed_Ld6oGgRhfMctLcE"
            >
              CBS
            </a>
            (link includes news video),
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/atcYNHk4Eh2YdGnwBh-YDJp2xdX36bGBmFX8YaQKguNU1D1YNs4uImvmfQXHA5_6BM93LGdvYGlz9rAgNgrQ1Nfi3WZhaciGvkpszzt-HBJG7iwsHoS1-IIokpJrjpgneKGYJm4plb6iEWsIfn6J2BieFlEcgo-g0wAgeAcF6abv6Vr4pSBul0pw-_OyZFFLz3lDCNop5TWTYDjfyn9uqpvzfRcfLoReUiSexYIxbWZTHGaomJO5RoIJnYwyon3aSXrsI2QSrxZd_DKQUjwDh01jS6nFG3cgBA9ui4bMlVsMOMLXnpgRNSPyfTBAhbp-8bz_PUBwQvx9Zibpn1JvXpryDMk4Xh_W3myHwS0ymmCMX1NGYk40lEOVkibcwzN6/3ps/q3OTLq3sReGmOA7tJ-KiyQ/h12/vBu5PFn8lJyjNrfvAB5KkN25okU8qXh5ldedLmD8cqg"
            >
              WCVB 5
            </a>
            ,
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/atcYNHk4Eh2YdGnwBh-YDEzwKXct-8PFqY3I4ADYxQdrTByd36XN6CC8gUDd5Mu2Bkhp-GTPeN9SbbF3z_XBj9q3UWQ5HJ8Vq7D8ZVltepFXHBcOxOJyNILMY3AUY8XGkhSWwcsvNoyUu0hm_BF-lRZqqRYeyFHgJj1W68dSckaUHELcm33GdEjwFHQnmc6g_68WaTPp-Jp5GI4GPii0eUa2LEyVgomtCkRm8Gnlr65YfqXtCbS0Jm5mcBd7eElijdV1eoEYwsEfSDbPuqMjXpB97RooSzKIcJQKY0KjI1Y4xh6jnFahYJgT1F1MYwIcGKCzagcInU91QIMOLxHXi4CkDCN7o6vGIP8f9iYQaxs/3ps/q3OTLq3sReGmOA7tJ-KiyQ/h13/lrwZR4e651y5SY-Cd19nnhxrJqugPjDfkl-MJ14irJo"
            >
              WHDH 7
            </a>
            ,
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/atcYNHk4Eh2YdGnwBh-YDGUDb1lwTjniMclQLsavIixYpX6iSMUqtMSbj-SYRhZkC0xbJSESwZecYTZxoLdbvHzYnMc5kaGXSV3VdU8AfI5zWTvQm5HFY4Jh6lfhm34if3gFvNeaHuARdSslHaiECf3Ezxt3q488rkIpOqI9IVlJAMJSYcdyjnd3XKaPpntSJ7GLpbtCHcl6Ni5QoFZv0wCOlP_b4ntP7a39XfpcBi00rI63riZJ5Eyk39HrmRMQDZA-QtX6HF7Zqy-JC_jMeVvceR-DMoF1vV5cF3hYIgn99Y3ftrkvdBw-Ramy9caXibPP0bGpXOGkVud1SJtkr6n373G7mfL0-BozeR-aPFa9mjs39oWhUndpAT0nWawQ5CiVcyWU_mFoGjtry0UTAf9_RaLYns4CI5YeDrfXMR4/3ps/q3OTLq3sReGmOA7tJ-KiyQ/h14/0MT2ay2k0XS0ZcEU9Amk6CQZV4RkYA78NuAGwkR02MU"
            >
              NBC 10
            </a>
            ,
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/atcYNHk4Eh2YdGnwBh-YDLSunHC2iKwk1unTEnJAK1lXkbjso1z3QebJFvTyWETUNJoBy22zLUjldLQKNpipAgsYp52Swlr9OuVvrfBb7z4RKDBfHr5UeOxy9p2QT5QkUsB2E18xUcJM3oysYY28EMJJLUFa-7gy_wrGq4O50lOmHq5BRm4vR723j3R8kBeYFBiR1gvFNy28IdZJHYbfFYMRRvI4qkboRsJro_T1Gi2EFoe-eb3_--8zUAgLgFjr8l-2eQoV9-AEKy6PqxXnCkDlWCBh1xhkC-nMpjIuOpqYKESjhakz_hhkjanvez_de6YqPR6zktePnLzXR6uGz4VTv3bLxxB5vpR724FxVDO8tTzyV5-LAj2wTc3kXcJcIzGnDXFCkTUYqvpZFbclferfanZ5_HPq0Y14hK9zJDCXGSa-TlUhuTho0l05RzBygXEDeKbTTQzNv1ZQPW9QAw/3ps/q3OTLq3sReGmOA7tJ-KiyQ/h16/3e6AdG9M6qubrdcBrdav4_YCkOsE_YEF0zzoNQNCNKo"
            >
              Fox
            </a>
            ,
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/atcYNHk4Eh2YdGnwBh-YDLSunHC2iKwk1unTEnJAK1lXkbjso1z3QebJFvTyWETUNJoBy22zLUjldLQKNpipAgsYp52Swlr9OuVvrfBb7z4RKDBfHr5UeOxy9p2QT5QkUsB2E18xUcJM3oysYY28EMJJLUFa-7gy_wrGq4O50lOmHq5BRm4vR723j3R8kBeYFBiR1gvFNy28IdZJHYbfFYMRRvI4qkboRsJro_T1Gi2EFoe-eb3_--8zUAgLgFjr8l-2eQoV9-AEKy6PqxXnCkDlWCBh1xhkC-nMpjIuOpqYKESjhakz_hhkjanvez_de6YqPR6zktePnLzXR6uGz4VTv3bLxxB5vpR724FxVDO8tTzyV5-LAj2wTc3kXcJcIzGnDXFCkTUYqvpZFbclferfanZ5_HPq0Y14hK9zJDCXGSa-TlUhuTho0l05RzBygXEDeKbTTQzNv1ZQPW9QAw/3ps/q3OTLq3sReGmOA7tJ-KiyQ/h16/3e6AdG9M6qubrdcBrdav4_YCkOsE_YEF0zzoNQNCNKo"
            >
              Boston 25
            </a>
            ,
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/atcYNHk4Eh2YdGnwBh-YDCNOZhR7kw61roBon7xTFMLBsU9H9i7osiC57kas5Ps7mKCLwxkuBhwFUZ730FVO-EKihWv0cfhFZ6CEZerPIjTc6Nw7rxamFJvqSFcG-5LxlF35LmJ6zrdRs33D8xZg7dlOgVPW7G6-ymANz602WhQusAp5IjeGy-R-ho-1RlkV62yE32mV7bPFDNgONGEf0vQdDHPmuqexNn54vrrO2XxT6J-x5mmF3vgppX7d7r1Jj-hviJm7qYAQwfcDdibacUDO4z6spZVK0TJkZQPZEx1fah6heB1B36HRhvSXzTyBdU_yC37nSo44gdyRP3xPahCIkbmT7xzhSeAI6SzYOpnNJB4yrEhTqUuNVJZBuCnc93w7B-8BSkJOvmfe9Yipcw/3ps/q3OTLq3sReGmOA7tJ-KiyQ/h17/zGJSZjYWD3hRQuQXDlcEQOH-JZLCDXHDeIZCEfoOS3M"
            >
              Boston Globe
            </a>
            ,
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/atcYNHk4Eh2YdGnwBh-YDP5F8__2Un5e68gUl_JFKAySocmBfHIXlGbB_m2vOkqUd3yapoyCfDQLLdYoOtoZPZ_UAOC5gidMnY2Jy6vDAfyeOd2PEwrlJBw8UOG9AaSh0RQelQsLy77c_VFB9y066YOmRYu53aInjo4WPNj960dLH6FZttNLWU6w0BoaqWZTIT54LqP8WMi077cYzeBZSfBn-93IA2qaAlTa37QXTB76ZQ68h0FqBu4W915qjc049hS8UrGevmFd6EXoGqiUPlWGDQzXC2S2bckuJdsDy87nB7CwhdJHzbSFrzT2H-Pf7jRohuqZOVmbsazYFlBR9n7Yj0IRiCd7QsMOn7N2y-kjJyH6bNUcVc8nIMoLbBzioI5RDKMD8JuGQsP6dAx1Rw/3ps/q3OTLq3sReGmOA7tJ-KiyQ/h18/BOiluyDiFm2gXV8WsVM2xYxCIqcgsAydm0-f86ItHHY"
            >
              Boston Herald
            </a>
            ,
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/atcYNHk4Eh2YdGnwBh-YDPRR1g2ziEXNm3tBqk4wTWhufvJdA3_b7wj9F4Q2NGwMJetAvdRAub_bJVHglfPdtT0jxgesinDO0Npf9tqvaRryEGVe1va9Vd3nMJHB-Oc8F9UHDQaFIroCsefEFNK865ZHvDm-Bq4X2T0_HAXzpWhL3bvt2ga-iIQfmiPWByAkeEn96B7iR0Oc91BwT57FqDS96dNLc3taqyMR75MD3suX1BOAZS-Zh-Mx9BgicqcViKwdwpORCUsn8omBAANe4L7Vb5zravmgRg0DGwsdq9RRoM8m-fe4y8aPUZoM-W3zrrL2Ut3pD17Qra4Mqm7UfEy0JiPJi5ncLsRNrxiw4IAR8CqMQR63hoGfCMweiAkK/3ps/q3OTLq3sReGmOA7tJ-KiyQ/h19/bHZjNQP7LhQs5mV_U2SQkMEU7ezlA8XcSlxx_ZyJnVY"
            >
              WBUR
            </a>
            ,
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/atcYNHk4Eh2YdGnwBh-YDBXqYlnn1sdzl-CK0JIMCA81NGwsJMCsJYNrz6GeQlXzlFicEmmPvs_wN0IPh9Q4iNwhkLenA8EVcSVr76qfPhTx7tdQR3HOkLLDGd9KfgMmV0-94c04TlRE71QcaKmLKVjS_HeA4lZpQ5pb-NWpyBibmYHep9tUXrM-GVD04iHGFt75ZHQWCjqMriBOO8FkJx3S0EM0wVhmT_ORE49sHutSVFLqei5obEdKIhEaG8FGC-CDzJl6HbDvoD29ZiGNsC52YwCyJT23QIl2gFlYx70rlj3-taOAR61cQNPTX600JZvwxqvZIqqgqX1xU4JJqpr91gWz_jlSv-JIIuGtKFZuYshb-svdLrVzamqKHAW4En7boACAmYHT-d1rE96fl0D7Jcqjo4NfCxYxOQ-uQuwnKLegdS58ECZWHqZIhwZ8qBIBKehGaYxjqE2DzAeyx1z3UMTGfJ6XMjuR2vlrJxo/3ps/q3OTLq3sReGmOA7tJ-KiyQ/h23/jp1JOZmMdPB8HqXnQINt0gA6_YHkmGrVgW5WPQyJmug"
            >
              Telemundo
            </a>
            , and
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/atcYNHk4Eh2YdGnwBh-YDFuE5oagkWaFvXA867N4xRO8ILiIvGUhLJjgKKmoRz0HaojuYDYwBZD4WWlNSG4cFkokwcJWFR_MocprA_dev-IrF8feImZs-Z03hK-aoTpf6Jb0YImSc4lbq7JNij420MAr8Wl1UW5xnxrV2q3t5BM_6n4zt5EZxrV-T1yv6AZbPcSKao2k1azOXvyJFcMQ3gxqN6XItE-9_Y1p9kXyRlyRzsSFw9KR_1cUyjRcNtJuHuvwejXROSzYTRGkKyHh4MtTjqcQBb8knGkG4yydoUyht-xrE6OiA55lC01NbFNDO-sHiXDoo8F1g7ayXQJ4k72NrGG70CnFndS0p5fRhJ-gP_h2VUXio-yHWWjaSkUYfhLLB0aKwf4p_ro4DjX3tg/3ps/q3OTLq3sReGmOA7tJ-KiyQ/h20/uS2ETkcdMcBmLZtZjIPxsz6YyadYRllD04CMjrvby54"
            >
              WGBH
            </a>
            . We got a picture gallery in
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/atcYNHk4Eh2YdGnwBh-YDFPZEzZ6wEhLpaimocMRJcQrUDzLWo_g8U2ec6eKJRS-o41yl8KXPeRZRiZYszXVGMk8uRKJ-CjBDDCrIDx2xannRglBUhScdgekk7P_eiG7gsXs5vZfM-RTgY5XhHgyvZyqZBU7-5UOYpYhqO9nX_N3FZgasYMr1wgqP-9nF4mirq4t6x-T65udmzoOECGcQsOw9CH6R6czpWzF0lDEE6Rdbt0eIQ0zbSRuEEL8Cfs3qJlpvzYIsbrsEViSXpQwzw-xTpPZxPnaYBgp3eeISgOnjtX_uimn4G1xQWd7d68CASvSQfMkL8sLdQu4JdSjUAtqLsS_ZyFrZyo57VBCufsN0_5LgRXcN27k6C_yN8P6X8JUWWOLlw_u58K2u8vmMlkOAC1LtNVQ6mDkiSA17qA/3ps/q3OTLq3sReGmOA7tJ-KiyQ/h21/CF2094oPhXpPHLp-nDYbBegRNtVPqh2cKizTtwRxGsk"
            >
              USA Today
            </a>
            . Mayor Wu directly addressed the protest in an interview for
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/atcYNHk4Eh2YdGnwBh-YDHprKC_5raWTxeknhly56m5JRVc3DDypjGlwERte0VPglq8lyud5JCeQBepwYuKPfOLCskkUpJvdnVlZAjZzyYQz9OBHjpA-dvTFWno-gdB33ZUf6FITJNZabWBLXfqqvH2XdmMOseE59Sj028_TgRkGxeHJsTOxKg-QTQGYCrx7rgsTwHJnIh2OEySMvi8dsVD5XVWnIIpnnPJZH24QmPNuLeagv8EM83pHPNR1OypKZz9QFkLBrSY5URVU6DqtCQTpjIRjAFTzwQWyT5elTAmA4t3Gl4r1y3rPeJ59T9g02rdzPY0CzDSUQKRRYD9dYHlbnZqAPWwzehh2isu7LuG6_Cnmi_PhOqU8DNH6yuwd/3ps/q3OTLq3sReGmOA7tJ-KiyQ/h22/Q0x8RN2a_mpS-FHLGZadqkQ0qB8OHhzpduDuihs1hhE"
            >
              WHDH 7
            </a>
            .
          </p>
        </div>
        <div class="py-1 date">
          <p class="dateheading">
            September 24: Stop Burning Down the House March
          </p>
          <p class="datedescription">
            Rebels met at Dewey Square to practice chants and distribute art.
            Then, led by the live marching music of the
            <a class="inlinelink" href="https://www.goodtroublebrassband.org/">
              Good Trouble Brass Band
            </a>
            , Rebels marched up Atlantic Avenue to Christopher Columbus
            Waterfront Park, blocking 2-3 lanes of traffic with joyful/rageful
            chanting and flag-waving. Once gathered at the park, Rebels shared
            food while the Art Working Group set up a printmaking station.
          </p>
        </div>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">December 15 - Atlantic Aviation Occupation</p>
          <p class="datedescription">
            Members of
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/wehEm_vu1NBVXOKYSqOxTI9ZexCCSVhQLpapxnUyWhwmVMdrnZ0fWD9cYJcdJt8aG7afi5hz5EkZdc1gfYCwZDumOxpUzitr7IGEjGVOryd4Vf0R1qvGEE0igaUI5R6c9nWQFRQAxDEIaH7JeL2RziAsr_b-ubQsuJ4knXkUyLsUkpdtEaoxt8FwRnOLheupscwJjgpC3XVMnKZU1bKOW2Y5uySuSFhRSpwM4QY531Ze4YVh56oP4SNJ-evS1YjO0r5fUWhPkDc60YAymzL1nJpfI5CT14CU3gsk9crGifY/3s4/eOsgJsEWQPG3ZK4ibuPLGQ/h1/Kg8ClQWAMsisrZ8wA3l-m2aApQIBWLx7Y1Nd2OPBoN4"
            >
              Scientist Rebellion
            </a>
            and
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/ZsYp6Jc2ATNP3MkVzvte6MWVAJ5r8Zdw4jJHYHzDnTqFw1yz9cRgSsL_rZ8DsjMKHRwYrtmIO_i6aEBqrLyVMf91Fije2yJqJK2KBlFpEMqZc5hWk7ZSeEPukZqcFRHFwr3lBlNQlC0QZvHhFrzmFxP6cJXff_tFA_0ayDaqMLhJjLH5Tue3dQ4z7rsGT-kMJvnGgJbB_V0D3N3QPhHmLKDmK-aWRZLcpPXcIR6gIF1iX524fjJWejJZVZb-nUyax3OxcDWTM_0JxdP5Qzpbw1ni74oO13SHjiWlfZeB97I/3s4/eOsgJsEWQPG3ZK4ibuPLGQ/h2/fnjpd-UB2PB9GPbG2yf4Wwt8atumxPcWwgYer9P41kk"
            >
              Extinction Rebellion
            </a>
            barricaded the driveway of Atlantic Aviation at MassPort’s Hanscom
            Field, protesting the continued use of private jets in the face of
            climate chaos. Rebels also entered the Atlantic Aviation offices and
            peacefully occupied their lobby. Ten Rebels were arrested, 6 women
            and 4 men total.
          </p>
        </div>
      </div>
      <div class="py-2 year">
        <p class="yearheading">2023</p>
        <div class="py-1">
          <p class="yearstat">Monthly public Die-Ins</p>
          <p class="yeardescription">
            Activists lie on the ground to represent the lives lost, human and
            non-human, from climate change. The imagery of the Die-Ins encourage
            conversation from passersby about the climate crisis.
          </p>
        </div>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">
            January 5: Demanding No New Fossil Fuel Infrastructure at Governor
            Healey’s Inauguration
          </p>
          <p class="datedescription">
            Activists stood in the inaugural crowd holding a large banner that
            read, “No New Fossil Fuel Infrastructure,” chanting and singing over
            the crowd. Afterwards we delivered a letter to newly inaugurated
            Governor Healey demanding No New Fossil Fuel Infrastructure.
          </p>
        </div>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">
            February 9: Occupying Governor Healey’s office
          </p>
          <p class="datedescription">
            More than 50 climate activists from Extinction Rebellion Boston (XR)
            held a sit-in at the State House. The non-violent activists blocked
            the governor's office and refused to leave. Disrupting movement in
            and out of key State House areas, activists risking arrest held
            signs and cloth banners reading "No New Fossil Fuel Infrastructure,"
            "Gov. Healey: Climate Action Now," "No New Gas Hookups," "Stop
            Peabody Peaker Plant," and "Stop Springfield Gas Pipeline." 14
            Rebels were arrested.
          </p>
          <!-- <video/> -->
        </div>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">April 21: Earth Day Rally</p>
          <p class="datedescription">
            On Earth Day, more than 300 people gathered outside Boston City Hall
            and marched to the Massachusetts State House to protest the
            Commonwealth’s slow action in addressing the climate and ecological
            emergency.
          </p>
          <!-- <video/> -->
        </div>
        <div class="py-1 date">
          <p class="dateheading">May 10: Legislative Session Occupation</p>
          <p class="datedescription">
            11 activists from Extinction Rebellion Boston and Scientist
            Rebellion disrupted a joint session of House and Senate members in
            the House Chamber of the Massachusetts State House. Reading from a
            list of demands, chanting, and preventing the legislators from
            proceeding with their planned session, activists risking arrest held
            a cloth banner reading "No New Fossil Fuel Infrastructure." 9
            climate activists were arrested.
          </p>
        </div>
        <div class="py-1 date">
          <p class="dateheading">
            June 5: Launch of the perpetual State House Stand-Out
          </p>
          <p class="datedescription">
            Volunteers begin standing outside the Massachusetts State House
            every business day from 9 am to 5 pm, engaging passersby in
            conversations about climate change and pressuring lawmakers to ban
            new fossil fuel infrastructure projects.
          </p>
        </div>
        <div class="py-1 date">
          <p class="dateheading">June 15: XR Boston Moons Legislators</p>
          <p class="datedescription">
            8 activists from Extinction Rebellion Boston (XR) mooned legislature
            with the message "STOP PASSING GAS" written on their backsides,
            demanding that the Massachusetts government immediately ban all new
            fossil fuel infrastructure and stop ongoing construction of new
            projects. The demonstration disrupted a formal Senate session. All
            eight Rebels were arrested.
          </p>
        </div>
        <p class="py-1 sectionheading">SEPTEMBER WEEK OF REBELLION INCLUDING</p>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">
            September 18: State House Disruption - Stop playing games with our
            future!
          </p>
          <p class="datedescription">
            More than 30 climate activists from Extinction Rebellion Boston (XR)
            played a creative version of basketball in the halls of the
            Massachusetts State House, to demand that Governor Maura Healey
            "stop playing games with our future." 9 Rebels were arrested.
          </p>
        </div>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">
            September 21: Massive general disruption in Boston’s financial
            district
          </p>
          <p class="datedescription">
            More than 35 climate activists from Extinction Rebellion Boston (XR)
            shut down traffic around the financial district to demand that the
            Healey administration ban new fossil fuel infrastructure. 20
            activists were arrested after blocking rush hour traffic for almost
            30 minutes. This demonstration was quickly covered by
            <a
              class="inlinelink"
              href="https://www.bostonglobe.com/2023/09/21/metro/climate-activists-halt-traffic-outside-south-station-during-busy-morning-commute/"
            >
              Boston Globe
            </a>
            ,
            <a
              class="inlinelink"
              href="https://www.boston.com/news/local-news/2023/09/21/climate-activists-arrested-after-disrupting-rush-hour-traffic-in-downtown-boston/"
            >
              Boston.com
            </a>
            ,
            <a
              class="inlinelink"
              href="https://www.bostonherald.com/2023/09/21/climate-group-extinction-rebellion-boston-blocks-traffic-in-financial-district-members-arrested/"
            >
              Boston Herald
            </a>
            , and
            <a
              class="inlinelink"
              href="https://www.nbcboston.com/news/local/protest-near-south-station-causes-traffic-issues-during-morning-commute/3141669/"
            >
              NBC
            </a>
            , then spread across national news through the
            <a
              class="inlinelink"
              href="https://apnews.com/article/boston-climate-change-protest-1283c8c987e7c2fa90c246ef69f7938b"
            >
              Associated Press
            </a>
            .
          </p>
        </div>
        <div class="py-1 date">
          <p class="dateheading">October 13: Logan Airport Expansion Protest</p>
          <p class="datedescription">
            As more than 500 attendees gathered, including Mayor Michelle Wu and
            Governor Maura Healey, Extinction Rebellion Boston (XR), Airport
            Impact Relief Inc., Mothers Out Front, GreenRoots, and other members
            of the Logan Community Clean Air Coalition disrupted the Logan
            Airport's 100th anniversary celebration in the newly expanded
            International Terminal E.
          </p>
        </div>
      </div>
      <div class="py-2 year">
        <p class="yearheading">2024</p>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">
            February 1: Disrupt Inundation District Screening
          </p>
          <p class="datedescription">
            Activists from Extinction Rebellion Boston (XR) disrupted a
            moderated discussion with Climate Chief Melissa Hoffer, which took
            place after a screening of the documentary
            <a
              class="inlinelink"
              href="https://www.inundationdistrict.com/home"
            >
              Inundation District
            </a>
            .
          </p>
        </div>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">April 20: Hanscom Airfield Disruption</p>
          <p class="datedescription">
            Climate activists from Extinction Rebellion Boston (XR) disrupted
            business as usual at Laurence G. Hanscom Airfield to protest the
            proposed expansion of 17 new private jet hangars. 20 Rebels were
            arrested. Word of the action quickly spread across
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/u001.XaF8mXqsA6b2dSPmhsleMX6AJdAHbOSwhIgEOO04o-p8TKmoUnvAQW-UPFBeTNIEelxGkh9HF9fvOKhMXoiHwrCu-ndDi7HEXYL49pgFm_QQbr9ipXNB4BW-uHgFYRx2EPUpe3_2hTNUSBD9Ls4HAA2mCdR8jnO4x2-iqbvlBOSyDdRyTYJC-oVjzM8JfJlxeDM5-CeLgGn4JEBzJi0NuSyYvfjDJxecBBomdAdxtruAOWRrk3jXwI7IVeIHNipi1UjMAwIg8u9EeC2_IOYhzet6T7_dF7I4uLa5paxmrGUH6zrx4v0wo1-I3Z7ubIhQNwAnRq5p4oN12Y8fHNLBkkIzmVriKzDXtLylQnYUpfYJjKOEEvkgHaSKJRBG1FTWGuamZw4kmjiW3qLbLCYWJHkzmUMLxe87SkC-PjUfdnFLe9XBb2cPmTVNrdlXo4BD/46m/r2R14M1lQpOCyLL0I8z1ig/h1/h001.p6SL_VB2FOEMyS4P_0Sgrx-lKIUXo6pABI4pvF8iIgc"
            >
              international news
            </a>
            . Lex Media, a local news source, created
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/u001.yjJN_MEbNx94PLaWzZ6hW1GJm7fH52LAiTq9C8yR9M8W7eBSiRYf7GJSsYzVSzdeeck7lPaYDaTSEWeVepIITA6CilYYedYApt1QTQ76J_JjO5qFDTMr9s5ePW7yACQrT0Dv1fT-Q3ofXTrXsm8mvq6cGA16lSAdIfw4VCxhpBweSWHF7utPy-yJ4IEZ3vRhx-uNmm47AFvk-HOz-M6ubZrhA1clg6tK5PtqBlIZJ2O6ZCGADCcRWwPqo9txRKXD6-dsUPDi5jXGEPiBK2lgNm_ZhJeB_m0SpG1gGAkFnl7y6aWDj1cuClvXT_MqpOzOvTvxugmcpL9ZbzkmK3ZOZLo6lPKHMZJ9eLQ1BlkMcmXhfzvxa0xsi8JGQ-fyTu9KV3rePQDBIaEf3mSk2nIvUHepgfscRBmQB4sFG1gEiDU/46m/r2R14M1lQpOCyLL0I8z1ig/h2/h001.hTYMBJrLna03462G8e5B_JQDnlazt_Jrr3CkgtAULwo"
            >
              a short documentary
            </a>
            about the demonstration. Inspired by this public outcry, celebrity
            activist Ashley Judd even took up the cause,
            <a
              class="inlinelink"
              href="https://url1005.email.actionnetwork.org/ss/c/u001.XaF8mXqsA6b2dSPmhsleMWN120OXmvJPaHpkMjtIQ-74mAmWjwkCNGDcJO_ApRguJclxG_Fmyi8ozO2VcqjymlntfpMWQsICYlmfJkpzzStX4L5coczYKVm9v7v8Gwei_jsaSdyHafMJAMZOvKTsJiqrPfT3LqJ7mBCmrOyZYMv9bjkSsaqYxs67ysX7ewMpYTVtqWyJJ-dj6RqUcVoHQc27Gw022gG3oNPtYfIagOr1vmQ1YwIT3tGBhCA5o02W2Bhs0qANrZ_mZDwjBkfUCoQw0WXzKYX0RDD1OEkKEQpOUNJClaDwJ-ACqFCxBwk2bKgF6n2k9oNqXVlOk6Jza3tSJVZ-WAzqIDBdrge2QrlKrVpT20qS2ARdoUN-0-i-D3BKzxbvzAi6FQqwDcQsAYUgaRBO9ZQt-xLRWZolWew/46m/r2R14M1lQpOCyLL0I8z1ig/h3/h001.EofKFpZNLdKap1RiIUPrA9IMdLBzxRwDV7D1ANJmo7U"
            >
              speaking publicly
            </a>
            against the Hanscom expansion. MassPort responded by extending the
            public comment period on the expansion for a full month, allowing
            for more community input.
          </p>
          <!-- <video/> -->
        </div>
        <div class="py-1 date">
          <!-- <img /> -->
          <p class="dateheading">April 22: Earth Day Parade</p>
          <p class="datedescription">
            After a family-friendly community party at the Christopher Columbus
            Waterfront Park, Extinction Rebellion Boston and affiliated groups
            marched along downtown Boston's Greenway and occupied the Seaport
            Boulevard bridge in a mass action marking Earth Day.
          </p>
          <!-- <video/> -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
